---
---
<!DOCTYPE html>
<html>
    <head>
        <title>Die Post</title>
        <link rel="stylesheet" href="/assets/css/post.css">
        {% include analytics.html %}
    </head>
    <body>
        {% include firebase.html %}
        {% include login_post.html %}
        <div class="container">
			<div class="nav_header">
				<img src="/assets/images/post-logo.svg" alt="Logo">
				
				<select name="lang" id="lang">
					<option value="de">DE</option>
					<option value="fr">FR</option>
					<option value="it">IT</option>
				</select>
				
			</div>
			
			<div class="swiss_id">
				<div class="swiss_id_container">
					<div class="swiss_id_img"></div>
					<div class="swiss_id_button">Login mit Swiss ID</div>
				</div>
			</div>
			
			<div class="or">oder</div>
			
			<h2>Mit Kundenlogin Post</h2>
			<p>E-Mail</p>
			<input id="post_user" class="input" type="text">
			<p>Passwort</p>
			<input class="input" type="password">
			<p class="clickable">Passwort vergessen?</p>
			<p class="clickable">Registrieren</p>
			<div class="login_holder">
				<div class="clickable submit" onclick="loginPost()">Einloggen</div>
				<div class="clickable off">Abbrechen</div>
			</div>
		
		</div>
    </body>
</html>