---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Signal AG</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include analytics.html %}
    <meta http-equiv="refresh" content="0; url='https://www.myright.ch/de/documents/97'" />
    <meta http-equiv="refresh" content="1; url='https://www.myright.ch/de/rechtstipps/partnerschaft-familie/wie-erteile-ich-eine-vollmacht-generalvollmacht'" />
  </head>
  <body>
    {% include firebase.html %}
    <img class="forwarding_image" src="https://www.myright.ch/packs/media/images/hand3-ab65be23b651c8c79cd1b6cacb1148ab.png" alt="MaRight ">
    <p class="forwarding">Vorlage Vollmacht</p>
    <p class="forwarding">MyRight Rechtsberatung</p>
  </body>
</html>