---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Wetten dass..? </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include analytics.html %}
    <meta http-equiv="refresh" content="3; url='https://www.zdf.de/show/wetten-dass/wettendass-kommt-wieder-100.html'" />
  </head>
  <body class="black">
    {% include firebase.html %}
    <img class="forwarding_image" src="assets/images/wetten.gif" alt="Signal AG">
    <p class="forwarding_two">Wir leiten Sie zur Anmeldeseite weiter</p>
  </body>
</html>