/* Post.html */

body {
    background-color: #eff3f6;
    font-family: Helvetica;
    color: #666666;
}

.container {
width: 640px;
min-height: 100px;
background-color: #fff !important;
margin: 100px auto 0;
}

.nav_header {
width: 100%;
height: 70px;
border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.nav_header img {
height: 100%;
width: auto;
float: left;
}

#lang {
border: none;
float: right;
color: #666666;
margin: 26px;
}

.swiss_id_button {
color: #eb0000;
font-size: 20px;
font-weight: 600;
width: 200px;
line-height: 50px;
text-align: center;
height: 50px;
margin: 0;
display: block;
float: left;
}

.swiss_id {
width: 100%;
border-bottom: 1px solid rgba(0, 0, 0, .1);
/* float: left; */
height: auto;
display: block;
}

.swiss_id_container {
width: 250px;
height: 50px;
margin: 50px auto;
border: 1px solid #eb0000;
border-radius: 0;
background-color: #fff;
cursor: pointer;
}

.swiss_id_img {
background-color: #eb0000;
width: 50px;
height: 50px;
float: left;
}

.or {
width: 84px;
color: #666666;
font-size: 18px;
background: #fff;
margin: -14px auto 0;
text-align: center;
}

.clickable {
margin: 0 25px;
cursor: pointer;
}

.submit {
color: #fff;
background-color: #000;
WIDTH: 120px;
text-align: center;
padding: 12px;
font-size: 13pt;
float: right;
}

.login_holder {
width: 100%;
height: 60px;
padding: 20px 0;
}

.off {
WIDTH: 120px;
text-align: center;
padding: 12px;
font-size: 13pt;
float: right;
}
.container input {
margin: 0 25px;
width: 590px;
font-size: 13pt;
padding: 7px;
border: 2px solid black;
}
.container p {
margin: 10px 25px;
font-size: 13pt;
}

.container h2 {
margin: 25px 25px;
}